<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>WebRTC</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="js/SignUp.js" type="module"></script>
</head>
<body>
    <form>
        <label for="LoginSignUp">Create Login</label>
        <input id="LoginSignUp" type="text">
        <label for="PasswordSignUp1">Create Password</label>
        <input id="PasswordSignUp1" type="password">
        <label for="PasswordSignUp2">Confirm Password</label>
        <input id="PasswordSignUp2" type="password">
        <label for="EmailSignUp">Enter Email</label>
        <input id="EmailSignUp" type="email">
        <label for="PhoneSignUp">Enter Phone Number</label>
        <input id="PhoneSignUp" type="number">
        <label for="VitalCardSignUp">Enter Vital Card</label>
        <input id="VitalCardSignUp" type="number">
    </form>
    <button id="ValidSignUp">Valid Sign Up</button>
    <button id="GoBackToConnect">Go to connect</button>
</body>
</html>