<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>WebRTC</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="js/app.js" type="module"></script>
</head>
<body>
    <header>
        <div class="header_bloc">
          <div class="logo">
            <img src="img/logo.png" alt="">
          </div>
          <div class="profil">
            <div class="avatar">
              <img src="img/avatar1.png" alt="">
            </div>
            <div class="avatar_name">
              <p>Jon Doe</p>
            </div>
            <div class="">
              <img src="img/dropdown.png" alt="">
            </div>
          </div>
        </div>
      </header>
      <main class="visio">
    <video class="camDoc" id="myVideoArea" autoplay muted></video>
    <video class="camUser" id="otherVideoArea" autoplay></video>
    
        <button>Disconnect</button>
        <form>
            
        <div class="flex ecrire">
            <input id="message" type="text" style="height: 20px; width: 300px;"/><br/>
            <input id="sendMessage" type="submit"/>
        </div>
        </form>
        <div class="chatArea" id="chatArea"><br/></div>
        </main>
    
</body>
</html>